body{
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
table, th, td {
    border-style: dotted;
    border-color: crimson;
    color:cyan;
    background-color: blueviolet;
    opacity: 1;
  }
  h3{
    color: cyan;
  }
  .button:active + table, th, td {  opacity: 0; }