div{
    right: 500px;
    background-image: url("img/1.jpg");
    background-repeat: no-repeat;
}
body{
    background-image: url("img/2.png");
    background-repeat: no-repeat;
}
table, th, td {
    border: 1px solid red;
    color: red;
    background-color: orange;
    opacity: 0.8;
  }
  h5{
      opacity: 0;
  }
  div:hover + h5 { opacity: 1; }
